.container {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

#near {
    font-size: 48px;
    margin-left: 60px;
}

#text{
    font-size: 16px;
    margin-top: 100px;
    color: rgb(88, 88, 88)
}

#button4 {
    width: 220px;
    height: 51px;
    background-color: rgb(18, 18, 18);
    color: white;
    margin-top: 50px;
    font-size: 16px;
}
#button4:hover{
    background-color: rgb(57, 56, 56);
}


* {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.counter {
    width: 120px;
    display: flex;
    margin-top: 30px;
    border: 1px solid rgb(198, 198, 198);

}

.counter input {
    width: 40px;
    border: 1px solid rgb(198, 198, 198);
    line-height: 40px;
    font-size: 20px;
    margin-left: 7px;
    text-align: center;
    background: #ffffff;
    color: #000000;
    appearance: none;
    outline: 0;
}

.counter span {
    display: block;
    font-size: 25px;
    padding: 0 12px;
    cursor: pointer;
    color: #000000;
}

#end {
    width: 100%;
    height: 350px;
    background-color: rgb(43, 43, 43);
    margin-top: 50px;
    padding: 40px;
    display: flex;
}

#card5 {
    color: white;
    width: 200px;
    height: 100px;
    margin-left: 60px;
    margin-top: 20px;
}

#p5 {
    font-size: 24px;
    margin-left: 60px;
    margin-top: 30px;
}

#card6 {
    color: white;
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

#card7 {
    color: white;
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

#card7 {
    color: white;
    width: 400px;
    height: 100px;
    margin-top: 20px;
}

#p8{
    color: white;
    margin-top: 26px;
    font-size: 24px;
}

#footer{
    width: 100%;
    height: 70px;
    background-color: rgb(43, 43, 43);
    color: white;
    display: flex;
}
