#body{
    background-image: url(..//images/home.jpg) ; 
    width: 100%; 
    height: 200%; 
    border: 0.1px solid rgb(255, 255, 255);
    
}

#shop{
    font-size: 48px;
    font-family: Prata sans-serif;
    margin-top: 250px;
    margin-left: 100px;
}

div span p {
    margin-left: 100px;
    width: 420px;
    height: 100px;
    font-size: 18px;
    font-family: Montserrat sans-serif;
}

div span button {
    margin-left: 100px;
    width: 200px;
    height: 60px;
    color: white;
    background-color: rgb(18, 18, 18);
    margin-bottom: 173px;
    
}

#center p  {
    text-align: center;
    font-family: Prata sans-serif;
    font-size: 40px;
    margin-top: 100px;
}

#p2 {
    text-align: center;
    font-size: 16px;
    margin-left: 480px;
    margin-right: 480px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#button1 {
    width: 160px;
    height: 51px;
    background-color: rgb(18, 18, 18);
    color: white;
    margin-left: 100px;
}
#button1:hover{
    background-color: rgb(57, 56, 56);
}

#button2 {
    width: 160px;
    height: 51px;
    background-color: rgb(18, 18, 18);
    color: white;
    margin-left: 120px;
}
#button2:hover{
    background-color: rgb(57, 56, 56);
}

#button3 {
    width: 160px;
    height: 51px;
    background-color: rgb(18, 18, 18);
    color: white;
    margin-left: 120px;
}
#button3:hover{
    background-color: rgb(57, 56, 56);
}

#foot {
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
}

#p{
    font-size: 40px;
    font-family: Prata sans-serif;
    width: 500px;
}

#p1{
    width: 450px;
}

#button4 {
    width: 160px;
    height: 51px;
    background-color: rgb(18, 18, 18);
    color: white;
    margin-top: 50px;
}
#button4:hover{
    background-color: rgb(57, 56, 56);
}

#feet{
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
}

#button5 {
    width: 240px;
    height: 51px;
    background-color: rgb(18, 18, 18);
    color: white;
    margin-left: 42%;
}
#button5:hover{
    background-color: rgb(57, 56, 56);
}

#end {
    width: 100%;
    height: 350px;
    background-color: rgb(43, 43, 43);
    margin-top: 50px;
    padding: 40px;
    display: flex;
}

#card5 {
    color: white;
    width: 200px;
    height: 100px;
    margin-left: 60px;
    margin-top: 20px;
}

#p5 {
    font-size: 24px;
    margin-left: 60px;
    margin-top: 30px;
}

#card6 {
    color: white;
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

#card7 {
    color: white;
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

#card7 {
    color: white;
    width: 400px;
    height: 100px;
    margin-top: 20px;
}

#p8{
    color: white;
    margin-top: 26px;
    font-size: 24px;
}

#footer{
    width: 100%;
    height: 70px;
    background-color: rgb(43, 43, 43);
    color: white;
    display: flex;
}
